.FoF__container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}
.FoF__container h1 {
	font-size: 2rem;
}
.FoF__container span {
	font-size: 1.2rem;
}
.FoF__container button {
	cursor: pointer;
	margin-top: 10px;
	background-color: #757575;
	outline: none;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	color: #fff;
}
.FoF__container button:hover {
	background-color: #636363;
}
